<nav class="navbar navbar-inverse">
<div class= "container-fluid">
    <div class= "navbar-header">
        <a href="/" class="navbar-brand">
        <span class="glyphicon glyphicon-picture"></span>
            The most popular photos on Instagram
        </a>

    </div>

</nav>